/* Webfont: NissanAG-Medium */@font-face {
    font-family: 'NissanAGMed';
    src: url('NissanAG-Medium.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-Medium.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-Medium.svg#NissanAG-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

