/* Webfont: NissanAG-Regular */@font-face {
    font-family: 'NissanAG';
    src: url('NissanAG-Regular.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-Regular.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-Regular.svg#NissanAG-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

