/* Webfont: NissanAG-MediumItalic */@font-face {
    font-family: 'NissanAGMed';
    src: url('NissanAG-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-MediumItalic.svg#NissanAG-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

