/* Webfont: NissanAG-LightCndItalic */@font-face {
    font-family: 'NissanAGLightCond';
    src: url('NissanAG-LightCndItalic.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-LightCndItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-LightCndItalic.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-LightCndItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-LightCndItalic.svg#NissanAG-LightCndItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

