/* Webfont: NissanAG-Super */@font-face {
    font-family: 'NissanAGSuper';
    src: url('NissanAG-Super.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-Super.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-Super.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-Super.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-Super.svg#NissanAG-Super') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

