/* Webfont: NissanAG-Bold */@font-face {
    font-family: 'NissanAG';
    src: url('NissanAG-Bold.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-Bold.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-Bold.svg#NissanAG-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

