/* Webfont: NissanAG-XBoldCnd */@font-face {
    font-family: 'NissanAGCondXd';
    src: url('NissanAG-XBoldCnd.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-XBoldCnd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-XBoldCnd.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-XBoldCnd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-XBoldCnd.svg#NissanAG-XBoldCnd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

