/* Webfont: NissanAG-LightExtItal */@font-face {
    font-family: 'NissanAGLightExp';
    src: url('NissanAG-LightExtItal.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-LightExtItal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-LightExtItal.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-LightExtItal.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-LightExtItal.svg#NissanAG-LightExtItal') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

