/* Webfont: NissanAG-Ext */@font-face {
    font-family: 'NissanAGExp';
    src: url('NissanAG-Ext.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-Ext.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-Ext.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-Ext.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-Ext.svg#NissanAG-Ext') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

