/* Webfont: NissanAG-LightItalic */@font-face {
    font-family: 'NissanAGLight';
    src: url('NissanAG-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('NissanAG-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NissanAG-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('NissanAG-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NissanAG-LightItalic.svg#NissanAG-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

