
nav.navDesktop{
    .wrapMenu{
        width: 98%;
        ul{li{
            padding: 0 13px;
            }}
    }
}

section{
    width: 100%;
}

main{
    .explainText{
        padding-top: 6%;
        p{
            font-size: 20px;
        }

        .features{
            width: 100%;
        }
    }

    .awesomework{
        .tit {
          padding-top: 100px;
        }
        .imgsFilters{
            ul{
                width: 100%;
                li{
                    width: 210px;
                    height: 239px;
                    background-size:cover !important;
                }
            }   
        }   
    }
    .getInTouch{
        

        form{
            width: 90%;
            textarea{
                width: 93%;
            }

        }
        .contactInfo{
            width: 90%;
            margin-top: 70px;
            

            div{
                width: 16%;
                margin-right: 17px;
                margin-left: 17px;
            }

        }

    }

}

footer{
    width: 100%;
    background: #f9c741;
    .social{
        padding-top: 70px;
        width: 699px;
        height: 106px;
        position: relative;
        left:50%;
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);

        div{
            float: left;
            margin-right: 25px;
            margin-left: 25px;
        }

        .twitter{img{&:hover{
            content:url("../img/ico-social-1-twitter-over.png");
        }}} 
        .facebook{img{&:hover{
            content:url("../img/ico-social-2-facebook-over.png");
        }}} 
        .gplus{img{&:hover{
            content:url("../img/ico-social-3-google-plus-over.png");
        }}} 
        .pintrest{img{&:hover{
            content:url("../img/ico-social-4-pintrest.png");
        }}} 
        .linkedin{img{&:hover{
            content:url("../img/ico-social-5-linkedin-over.png");
        }}} 
        .dribble{img{&:hover{
            content:url("../img/ico-social-6-dribble-over.png");
        }}} 
        .instagram{img{&:hover{
            content:url("../img/ico-social-7-instagram-over.png");
        }}} 
       
    }
}

